html {
  background-color: black;
  background: url("./Cover Wide Duels of Dreams.jpg") no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.testing {
  color: pink;
}
